.relatedproducts{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: 90vh;
}
.relatedproducts h1{
    color: #171717;
    font-size: 35px;
    font-weight: 600;
}
.relatedproducts hr{
    width: 200px;
    height: 4px;
    border-radius: 10px;
    background: #252525;
}
.relatedproducts_item{
    margin: 40px;
    gap: 30px;
    display: flex;
}