/* Container for the entire item */
.item_container {
    display: flex;
    justify-content: center;         
    flex-wrap: wrap;                 
    gap: 16px;                       
    padding: 16px;                    
    box-sizing: border-box;           
    overflow: hidden;                 
}

/* Base Styling for Item */
.item {
    width: 100%;                      
    max-width: 300px;                 
    transition: transform 0.6s ease;  
    display: flex;
    flex-direction: column;          
    background-color: #ffffff;       
    border-radius: 10px;              
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
    text-align: center;              
    box-sizing: border-box;          
    padding: 10px;
}

/* Image Styling */
.item_image {
    width: 100%;                      
    height: auto;                     
    object-fit: cover;                
    border-radius: 10px;             
    max-height: 320px;                
    cursor: pointer;                  
}

/* Item Name Styling */
.item_name {
    margin: 6px 0;                    
    font-size: 16px;                  
    color: #4B5563;                   
    font-weight: 600;                 
    text-align: left;
    padding-left: 10px;
}

/* Price Container Styling */
.item_prices {
    display: flex;
    justify-content: center;          
    gap: 20px;                        
    align-self: flex-start;
    padding-left: 10px;
}

/* New Price Styling */
.item_price_new {
    color: #374151;                   
    font-size: 18px;
    font-weight: 600;                 
}

/* Old Price Styling */
.item_old_price {
    color: #8C8C8C;                   
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;    
}

/* Hover Effect */
.item:hover {
    transform: scale(1.05);          
}

/* Responsive Adjustments */
@media (max-width: 1280px) {
    .item {
        max-width: 280px;             
        padding: 10px;
    }
    .item_name {
        font-size: 14px;              
        text-align: left;
        padding-left: 10px;
    }
    .item_container {
        padding: 8px;                 
    }
    .item_prices{
        display: flex;
        align-self: flex-start;
        padding-left: 10px;
    }
    .item_price_new, 
    .item_old_price {
        font-size: 14px;              
    }
}

@media (max-width: 1024px) {
    .item {
        max-width: 100%;              
        padding: 10px;
    }
    .item_name {
        font-size: 14px;              
        text-align: left;
        padding-left: 10px;
    }
    .item_container {
        padding: 8px;                 
    }
    .item_prices{
        display: flex;
        align-self: flex-start;
        padding-left: 10px;
    }
    .item_price_new, 
    .item_old_price {
        font-size: 14px;              
    }
}

@media (max-width: 800px) {
    .item {
        max-width: 100%;             
    }
    .item_name {
        font-size: 13px;              
        text-align: left;
        padding-left: 10px;
    }
    .item_prices{
        display: flex;
        align-self: flex-start;
        padding-left: 10px;
    }
    .item_price_new, 
    .item_old_price {
        font-size: 13px;              
    }
    .item_container {
        padding: 4px;                 
    }
}

@media (max-width: 500px) {
    .item {
        height: auto;
        max-width: 100%;              
    }
    .item_name {
        font-size: 11px;              
    }
    .item_price_new, 
    .item_old_price {
        font-size: 11px;              
    }
    .item_prices{
        display: flex;
        align-self: flex-start;
        padding-left: 10px;
    }
}
