.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 30px;
    margin-bottom: 65px;
    overflow: hidden; /* Prevent items from overflowing */
    padding: 0 16px; /* Add padding to keep items contained */
}

.popular h1 {
    color: #171717;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.popular hr {
    width: 200px;
    height: 4px;
    border-radius: 10px;
    background: #252525;
}

.popular_item {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
    justify-content: center;
    gap: 16px;
    max-width: 100%;
    box-sizing: border-box; /* Include padding in container width */
}

/* Responsive Styling */
@media (max-width: 1280px) {
    .popular_item {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Two items per row on small screens */
    }
    .popular h1 {
        font-size: 20px;
    }
    .popular hr {
        width: 160px;
    }
}

@media (max-width: 1024px) {
    .popular_item {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Two items per row on small screens */
    }
    .popular h1 {
        font-size: 16px;
    }
    .popular hr {
        width: 120px;
    }
}

@media (max-width: 800px) {
    .popular_item {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Two items per row on small screens */
    }
    .popular hr {
        width: 100px;
    }
}

@media (max-width: 500px) {
    .popular_item {
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* Two items per row on small screens */
    }
}
